<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.Eduvation_SMSConnectionString"
            connectionString="Data Source=DESKTOP-KQBH18B\SQLEXPRESS;Initial Catalog=&quot;Eduvation SMS&quot;;User ID=eduvation;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.Eduvation_SMSConnectionString1"
            connectionString="Data Source=DESKTOP-991QFRP\SQLEXPRESS;Initial Catalog=&quot;Eduvation SMS&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>